.Search {
  margin-bottom: 30px;
  padding: 20px;
}

.Search .btn {
  box-shadow: 1px 1px 5px rgb(167, 167, 167);
  font-size: 25px;
}

.Search .btn-primary {
  max-width: 300px;
  margin: 0 auto;
}

.Search .form-group {
  box-shadow: 2px 2px 5px rgb(167, 167, 167);
}

.Search .form-control {
  font-size: 25px;
}
